.user-header {
  height: 80px;
  background-color: #FFF;
  @include word-bundle(1.5rem, $dark-gray-font, 400, 3rem);
  @include behave-horizontal;
  justify-content: space-between;
  padding: 0 42px;

  .right {
    @include behave-horizontal;
  }

  .points-tag {
    @include behave-horizontal;
      height: 48px;
      padding: 1px 24px;
      background-color: $light-gray-background;
      border: 0;
      border-radius: 20.5px;
      margin-left: 24px;
  }

  img {
    transform: translateY(25%);
  }

  .coin {
    margin-left: 12px;
  }
}

.header {
  background-image: url("../assets/header-x2.png");
  height: 400px;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;

  h2 {
    @include word-bundle(4rem, #FFF, 700, 1.5rem);
    position: absolute;
    bottom: 115px;
    left: 133px;
  }
}