.product-card {
  @include behave-vertical;
  position: relative;
  justify-content: flex-end;
  background-color: #FFF;
  height: 276px;
  width: 276px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

  h4 {
    @include word-bundle(1rem, $light-gray-font,400, 1.256875rem);
  }

  h3  {
    @include word-bundle(1.125rem, $dark-gray-font, 400, 1.414375rem);
  }
}

.buy-icon {
  height: 42px;
  position: absolute;
  top: 12px;
  right: 12px;
}

.text-box {
  @include behave-vertical;
  align-items: flex-start;
  width: 82.6%;
  padding-top: 19px;
  padding-bottom: 16px;
  margin-top: 4px;
  border-top: 1px solid $border-color;
}

.product-img {
  // background-image: url("https://place-puppy.com/150x150");
  height: 150px;
  background-position: center center;
  background-size: cover;
  position: relative;
  width: 150px;
  overflow: hidden;

  &:hover {
    .overlay {
      transform: translate(0,0);
      opacity: 1;
    }
  }
}

.overlay {
  display: none;
  @include right-on-top;
  height: 100%;
  width: 100%;
  background-color: transparentize(#572EE5, .3);
  transform: translate(-100%, -100%);
  opacity: 0;
  transition: transform .4s ease-in-out, opacity .6s ease-in-out;
}

.te-faltan {
  position: absolute;
  top: 12px;
  right: 12px;
  @include behave-horizontal;
  justify-content: space-evenly;
  height: 42px;
  width: 142px;
  background-color: $dark-gray-font;
  opacity: 0.8;
  border-radius: 100px;
  @include word-bundle(.875rem, #FFF, 400, 42px);
}

